#desktop-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.25rem;
    width: 100%;
    margin: 0 auto;
}

.logo{
    font-size: 40px;
    font-weight: 600;
    white-space: nowrap;
}

.nav-links{
    display: flex;
    list-style-type: none;
     
}

.nav-links li a{
    text-decoration: none;
    margin: 10px;
    font-size: 1.563rem;
    font-weight: 400;
    color: black;
}

.nav-links li a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgb(218, 19, 19);
    transition: all 0.3s;
}


