#projects {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#projects p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(94, 91, 91);;
    margin-bottom: 20px;
}

#projects h1{
    font-size: 40px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 40px;
}
.project-container img{
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgb(99, 97, 97);
    border-radius: 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-container{
    text-align: center;
}

.project-container button{
    padding: 10px;
    border-radius: 25px;
    margin: 10px auto;
    color: black;
    background-color: white;
    font-size: 13px;
    font-weight: 400;
    border: solid;
    border-color: rgb(105, 103, 103);
    border-width: 1.3px;
    margin-right: 10px;
}

.project-container button:hover{
    background-color: black;
    color: white;
    transition:all 0.5s;
    cursor: pointer;
    border: none;
}

.project-container{
    width: 80%;
    margin-top: 15px;
}

.projects-container {
    border: 1px solid rgb(99, 97, 97);
    border-radius: 20px;
    width:80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}